<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!-- 类的全限定名 -->
        <plugin interceptor="com.jmybatis.core.config.LogInterceptor">
        </plugin>
    </plugins>
</configuration>